body {
    background-color: whitesmoke;
    font-family: "Computer Modern Serif", sans-serif;
    margin: auto;
    max-width: 900px;
    font-display: swap;
}

.loading {
    padding: 100px;
    font-size: 2em;
}

.mainWrapper {
    /*background-color: pink;*/
    border: 2px solid rgb(90, 47, 146);
}

.mainTab {
    border-top: 2px solid slateblue;
    cursor: pointer;
    padding: 8px;
}

.errValidation {
    text-align: right;
}

.w3-input, .w3-select {
    border-color: green;
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
    display:block;
}

.animate{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.animate.rotate{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.animate.fade{
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.animate.un-fade{
    opacity: 1;
    height: auto;
}

.gridASpace {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /*grid-auto-rows: minmax(100px, auto);*/
}

.fGens-chkBox {
    margin: auto 0;
}

.add-btn-fGens {
    position: relative;
    text-align: center;
}

.add-btn-fGens hr {
    position: absolute;
    top: -3px;
    width: 100%;
    border: 2px solid rgb(106, 90, 205);
    border-radius: 4px;
    z-index: -1;
}

.fGens-add {
    margin: 4px;
    cursor: pointer;
}

.fGens-add > :first-child {
    color: rgb(106, 90, 205);
}
.fGens-add > :nth-child(2) {
    color: whitesmoke;
}

.fGens-del {
    position: absolute;
    top: -16px;
    right: 0;
    vertical-align: top;
    color: red;
    cursor: pointer;
}

#chart_div {
    width: 100%;
    height: 500px;
    background-color: snow;
}