body {
    background-color: seashell;
    font-family: "Computer Modern Serif", sans-serif;
    margin: auto;
    max-width: 900px;
    font-display: swap;
}

.loading {
    padding: 100px;
    font-size: 2em;
}

.mainWrapper {
    /*background-color: pink;*/
    border: 2px solid rgb(90, 47, 146);
}

.mainTab {
    border-top: 2px solid slateblue;
    cursor: pointer;
    padding: 8px;
}

input[type=number] {
    text-align: right;
}